.mySlides {display: none;}

.slide-banner {
  max-width: 100%;
  min-height: 100vh;
  position: relative;
  margin: auto;
  overflow: hidden; 
  text-align: center;
}

.slide{
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


.categories-banner {
  max-width: 100%;
} 

.categories-banner-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px 0px;

}

.card img{
  width: 100%;
}

.new-products{
  max-width: 100%;
  padding: 55px;
}

h2{
  width: 100%;
  text-align: center;
}

.new-products a{
  max-width: 100%;
  font-size: 42px;
}

.gender-toggle{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0px;
}

.btn{
  font-size: 14px;
  width: 9%;
  margin: 0px 10px;
  padding: 10px;
  border: none;
  position: relative;
  text-align: center;
  background-color: #fff;
  font-weight: bolder;
  cursor: pointer;
  text-transform: uppercase;
}

.btn::after{
  position: absolute;
  left: 0;
  width: 0;
  bottom: -10px;
  height: 2px;
  content: "";
  border-radius: 10px;
  background-color: black;
  transition: 0.2s linear;
}

.btn:hover{
    box-shadow: 3px 3px 5px 2px;
    background-color: #fff;
    border: 1px #adbabf solid;
}


.slides{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.slides h6{
  padding: 5px 0px;
}

.slides p{
  font-size: 11px;
}

.products-slider-item h6, p{
  display: flex;
  justify-content: center;
}

.products-slider-item h6{
  font-size: 14px;
  font-weight: bolder;
}
.products-slider-item p{
  
  margin: 5px ;
}


.products-slider-item img{ 
  display: inline-block;
  overflow: hidden;
  width: 100%;
  left: 0px;

}

p.price{
  margin: 5px 0px 5px;
  font-size: 18px;
  font-weight: 900;
}

.stylepick{
  max-width: 100%;
  padding: 65px;
  background-color: #adbabf;
}

.stylepick a{
  font-size: 42px;
}

.stylepick h2{
    margin: 0px 0px 50px 0px;
}


.weekly-best{
  max-width: 100%;
  padding: 65px;
}

.weekly-best a{
  font-size: 42px;
}


.blog{
  max-width: 100%;
  padding: 65px;
  background-color: #adbabf;
}

.blog a{
  font-size: 42px;
}