.mySlides {display: none;}

.slide-banner {
  max-width: 100%;
  min-height: 100vh;
  position: relative;
  margin: auto;
  overflow: hidden; 
  text-align: center;
}


.slide{
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
}



.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  /* ?  */
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.4} 
  to {opacity: 1}
}

/*  */

.categories-banner {
  max-width: 100%;
} 


.categories-banner-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px 0px;

}

.card img{
  width: 100%;
}

.card img:hover{
  transition: 0.2s;
  background-blend-mode: darken;
  box-shadow: 1px 1px 5px black;
  border-color: rgb(222,224,223);
  opacity: 0.7;
}

.new-products{
  max-width: 100%;
  padding: 55px;
}

h2{
  width: 100%;
  text-align: center;
}

.new-products a{
  max-width: 100%;
  font-size: 42px;
}

.gender-toggle{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0px;
}

.btn{
  font-size: 14px;
  width: 9%;
  margin: 0px 10px;
  padding: 10px;
  border: none;
  position: relative;
  text-align: center;
  background-color: #fff;
  font-weight: bolder;
  cursor: pointer;
  text-transform: uppercase;
}

.btn::after{
  position: absolute;
  left: 0;
  width: 0;
  bottom: -10px;
  height: 2px;
  content: "";
  border-radius: 10px;
  background-color: black;
  transition: 0.2s linear;
}

.btn:hover{
    box-shadow: 3px 3px 5px 2px;
    background-color: #fff;
    border: 1px #adbabf solid;
}


.slides{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;

}

.slides h6{
  padding: 5px 0px;
}

.slides p{
  font-size: 11px;
}

.products-slider-item h6, p{
  display: flex;
  justify-content: center;
}

.products-slider-item h6{
  font-size: 14px;
  font-weight: bolder;
}
.products-slider-item p{
  margin: 5px ;
}

.products-slider-item img{ 
  display: inline-block;
  overflow: hidden;
  width: 100%;
  left: 0px;
}

.products-slider-item img:hover{
  transition: 0.1s;
  background-blend-mode: darken;
  box-shadow: 1px 1px 5px black;
  border-color: rgb(222,224,223);
}

p.price{
  margin: 5px 0px 5px;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#women-new{
  display: none;
}

.stylepick{
  max-width: 100%;
  padding: 65px;
  background-color: #adbabf;
}

.stylepick a{
  font-size: 42px;
}

.stylepick h2{
    margin: 0px 0px 50px 0px;
}

.container{
  max-width: 100%;
}

.detail-container{
  text-align: center;
  color: white;
}

.detail-container h6{
  padding: 5px 0px 5px 0px;
  font-size: 14px;
}

.owl-nav{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 45%;
  transform: translateY(-50%);
}

.owl-nav button span{
  font-size: 50px;
}


.owl-dots span{
  display: flex;
}


.product-container-item img:hover{ 
  transition: 0.1s;
  background-blend-mode: darken;
  box-shadow: 1px 1px 5px black;
  border-color: rgb(222,224,223);
  opacity: 0.7;
}


.weekly-best{
  max-width: 100%;
  padding: 65px;
}

.weekly-best a{
  font-size: 42px;
}


#women-week{
  display: none;
}

 #men-new, #men-week, #women-new, #women-week{
   -webkit-animation: slide-down 0.3s ease-out;
   -moz-animation: slide-down 0.3s ease-out;
   -webkit-animation: slide-down 1s ease-in;
   -moz-animation: slide-down 1s ease-in;   
 }

 @-webkit-keyframes slide-down{
   0% {opacity: 0;}
   20% {opacity: 1;}
 }