.introduction{
  padding: 35px 70px;
  color: #9f9fac;
}

p{
    font-size:14px;
}

/* Can le danh muc san pham, do rong giua cac cot, cac hang */

.grid-container1 {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 10px;
    padding: 0px 70px;
    font-size: small;
}

.grid-item a{
  color: #9f9fac;;
}



.grid-item a:hover{
    font-size: 14px;
    color: rgb(159,34,78);
    transition: 0.2s;
}

  /* can le hinh anh san pham + nut */
.container{
    max-width: 100%;
    display: grid;
    grid-template-columns: 18% 82% ;
    margin-top: 50px;
}

.container ul{
  width: 50%;
  margin-left: 30%;
  top: 0;
  left: 0;
  position: sticky;

}

.container ul li{
  display: flex;
  justify-content: center;
  margin: 0px 0px 10px 0px;
  padding: 10px;
  background-color: rgb(162, 5, 5);
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

  /* Can le hinh anh san pham + chu */
.larger-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.grid-container2 a img{
    width: 100%;
    min-height: 75vh;
    float: left;
    margin-bottom: 5px;
    object-fit: cover;
}

.item{
  margin: 0px 0px 70px 0px;
}

.item p{
  padding: 5px 0px;
  text-align: center;
}

p.price{
  text-align: center;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.item img{
  width: 100%;
  min-height: 100%;
}

.item img:hover{
  transition: 0.1s;
  background-blend-mode: darken;
  box-shadow: 1px 1px 5px black;
  border-color: rgb(222,224,223);
}

 /* PRICE FILTER */
  
 ul  li.active{
  background-color: rgb(252, 36, 36);
 }

 .animation{
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-gap: 20px;
    padding: 0px 60px;
    font-size: medium;
    max-width: 100%;
 }

 #new, #trend, #best-sale{
   -webkit-animation: slide-down 0.3s ease-out;
   -moz-animation: slide-down 0.3s ease-out;
   -webkit-animation: slide-down 1s ease-in;
   -moz-animation: slide-down 1s ease-in;   
 }

 @-webkit-keyframes slide-down{
   0% {opacity: 0;}
   20% {opacity: 1;}
 }