

h2{
    padding-top: 40px;
    padding-left: 50px;
}
p{
    font-size:14px;
    padding-left: 50px;
}

.grid-container1 {
    display: grid;
    grid-template-columns: 200px 100px 100px 100px 100px;
    row-gap: 15px;
    column-gap: 40px;
    padding-left: 50px;
    padding-top: 40px;
    font-size: small;
  }

  .grid-container2{
    justify-content: center;
    display: grid;
    grid-template-columns: 300px 300px 300px ;
    row-gap: 15px;
    column-gap: 40px;
    padding-left: 300px;
    padding-top: 40px;
    font-size: small;
   
  }
  .sanphamnam{
    
  }