
.introduction{
  padding: 30px 30px;
}

.introduction p{
  max-width: 50%;
  font-size: 14px;
  margin-top: 15px;
}

.grid-container1 {
    display: grid;
    grid-template-columns: 200px 100px 100px 100px 100px;
    row-gap: 15px;
    column-gap: 40px;
    padding-left: 30px;
    padding-top: 40px;
    font-size: small;
  }

  .container{
    max-width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;

  }

  .grid-container2{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    padding: 0px 40px;
  }
  .sanphamnam img{ 
    width: 100%;
  }

