.product{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding: 0px 55px;
    color:  #5c5c63;
}

.product ul, #main-image{
    padding: 10px 0px;
    float: left;
    display: flex;
    flex-direction: column;
}

.product ul li{
    list-style: none;
}

.product ul li img{
    width: 100px;
    cursor: pointer;
}

#main-image{
    width: 500px;
}

#main-image img{
    width: 410px;
    margin: 0px 0px 0px 60px;
}